---
import System from "~/components/System";
import Layout from "~/layouts/Layout.astro";

const planets = [
  {
    colour: "grey",
    name: "Gilgamesh",
  },
  {
    colour: "green",
    name: "Enkidu",
  },
  {
    colour: "grey",
    name: "Ishtar",
  },
  null,
  {
    colour: "green",
    name: "Ereshkigal",
  },
];
---

<Layout title="Traveller5 Tools">
  <main>
    <header>
      <h1 class="text-center text-3xl font-sans">Traveller5 Tools</h1>
    </header>
    <article>
      <System {planets} client:load />
    </article>
    <footer>
      <span>&copy; 2024 Lorenzo Ravaglia</span>
    </footer>
  </main>
</Layout>
